<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">

    
    <h1>Dojo Survey</h1>

    <form action="result" method="post">
        <input type="text" name="Name" placeholder="Name"><br>
        <select name="Location">
            <option value="DC">DC</option>
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="Berkeley">Berkeley</option>
        </select><br>
        <select name="Language">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="MEAN">MEAN</option>
            <option value="Java">Java</option>
        </select><br>
        <input type="textarea" name="Comment" placeholder="Comment"><br>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    </div>
</body>
</html>

